<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="CheckBeanApiHelper" class="com.paypal.java.springbean.scope.app.CheckBeanApiHelper"  scope="singleton">
		<property name="checkBeanApi" ref="myRefCheckBeanApi"/>
	</bean>
	
	<bean id="myRefCheckBeanApi" class="com.paypal.java.springbean.scope.impl.CheckBeanApiImpl">
	</bean>
	
	<bean id="CheckBeanApiHelperProtoSingle" class="com.paypal.java.springbean.scope.app.CheckBeanApiHelper" scope="prototype">
		<property name="checkBeanApi" ref="myRefCheckBeanApi"/>
	</bean>
	
	<bean id="myRefCheckBeanApiProto" class="com.paypal.java.springbean.scope.impl.CheckBeanApiImpl" scope="prototype">
	</bean>
	
	<bean id="CheckBeanApiHelperProtoProto" class="com.paypal.java.springbean.scope.app.CheckBeanApiHelper" scope="prototype">
		<property name="checkBeanApi" ref="myRefCheckBeanApiProto"/>
	</bean>
	
	
</beans>